<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order your pizza</title>
    <link rel="stylesheet" type="text/css" href="./style.css">

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>
            $(function(){
                    $( "#orderInfo" ).validate({
                            rules: {
                                    phone: {
                                        required: true,
                                        phoneUS: true
                                    }
                            }
                    });
            })
    </script>
</head>
<body>
<div id="wrapper">
	<div id="header">
	<h1>ORDER YOUR PIZZA</h1>
	</div>
	<form id="orderInfo" method="POST" action="/">
		<div id="form">	
			<div id="orderdetail">
				<h4>Choose your size</h4>
                <% for (var i = 0; i < size.length; i++) { %>
                    <input 	type="radio" name="size" checked="checked" value="<%= size[i].size %>" /><%= size[i].size %>(<%= size[i].price %>)
                <% } %>
            </div>

			<div id="orderdetail">
				<h4>Choose your crust</h4>
                <% for (var i = 0; i < crust.length; i++) { %>
                    <input 	type="radio" name="crust" checked="checked" value="<%= crust[i].type %>" /><%= crust[i].type %>(<%= crust[i].price %>)
                <% } %>
			</div>
    
			<div id="orderdetail">
                <h4>Choose toopings (minimum 2 toppings)</h4>
                <input type="hidden" id="testNameHidden" value="No" name="testName" />
                <table>
                    <tr>
                        <td>
                            <h5>Choose meats</h5>	
                            <% for (var i = 0; i < meattopping.length; i++) { %>
                                <input 	type="checkbox" name="topping" id="topping" value="<%= meattopping[i].items %>" /><%= meattopping[i].items %>(<%= meattopping[i].price %>)<br />
                            <% } %>
                        </td>
                        <td>
                            <h5>Choose non-meats</h5>	
                            <% for (var i = 0; i < nonmeat.length; i++) { %>
                                <input 	type="checkbox" name="topping" id="topping" value="<%= nonmeat[i].items %>" /><%= nonmeat[i].items %>(<%= nonmeat[i].price %>)<br />
                            <% } %>
                        </td>
                    </tr>
    
                </table>
                
            </div>
          
            <div id="orderdetail">
                <h4>Choose your quantity</h4>
                <label>Quantity :</label>
                <select name="qty" id="qty">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                </select>
            </div>

			<fieldset>
                <legend>Your Information</legend>						
				<label for="firstname">Firstname :</label>
                <input class="required" type="text" name="firstname" id="firstname" />
				<br />
						
				<label for="lastname">Lastname :</label></td>
				<input class="required" type="text" name="lastname" id="lastname" />
				<br />
				
				<label for="phone">Phone : </label></td>
                <input class="required number" type="text" name="phone" id="phone" />
				<br />

				<label for="address">Address : </label></td>
                <input class="required" type="text" name="address" id="address" />
				<br />	
			</fieldset>

			<div id="confirmation">
				<input type="submit" value="Submit" class="submit" onclick="return checkboxValidate();" />	
                <input type="reset" value="Reset" class="reset"/>
                <script>
                        function checkboxValidate() {
                            var Checked = $('input:checkbox:checked').length;
                            var Checkboxes = $('input:checkbox').length;
                            var UnChecked = Checkboxes - Checked;

                            if(Checked < 2 ){
                                alert("Please choose minimum 2 topping");
                                return false;
                            }
                        }
                </script>
			</div>
		</div>
	</form>

</div>
</body>
</html>